* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  #container {
    height: 100%;
    max-width: 1200px;
    margin: auto;
  }
  #main {
      grid-area: main;
  }
  #new-message {
      position: relative;
      bottom: 0;
      width: 100%;
      padding: 5px;
      margin-left: 0px;
      border-top: 1px solid #3f3f3f;
  }
  #messages-list {
      text-align: left;
      padding: 5px 0 0 5px;
      overflow-y: auto;
      height: 1000px;
      overflow-wrap: break-word;
  }
  #sidebar {
      grid-area: sidebar;
      padding: 5px 0 0 5px;
      border-right: 1px solid #3f3f3f;
      height: 100%;
  }
  
  /* new */
  
  #new-message {
      padding: 0px;
      height: 50px;
  }
  
  #new-message input {
      font-size: 18px;
      width: 100%;
      height: 100%;
      margin: 0;
      height: 50px;
      padding: 5px;
  }